.navbar {
    background-color: rgb(42, 195, 252);
}

.nav-items {
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.title {
    width: 30%;
}

.title-link {
    text-decoration: none;
    color: black;
}

.title-text {
    font-weight: 900;
    font-size: 40px;
    margin-left: 32px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.links {
    display: flex;
    gap: 3rem;
    align-items: center;
    margin-right: 32px;
}

.nav-items-link {
    text-decoration: none;
    color: black;
    list-style: none;
}

.nav-items-text {
    font-size: 25px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.nav-items-text:hover {
    color:rgb(181, 118, 1);
}

.nav-user {
    list-style: none;
    color: black;
    cursor: pointer;
}

.nav-user-text {
    font-size: 25px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.nav-logout:hover {
    color: red;
}

.nav-username:hover {
    color:rgb(181, 118, 1); 
}